@charset "UTF-8";
/* reset */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}
i,em{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
main, article, aside, figure, footer, header, nav, section, details, summary {display: block;}
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
img,
object,
embed {max-width: 100%;}
html {overflow-y: scroll;}
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
del {text-decoration: line-through;}
table {border-collapse: separate; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid rgba(175,175,175,0.5); margin: 1em 0; padding: 0;clear: both;}
input, select {vertical-align: middle;}
input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}
select, input, textarea {font: 99% sans-serif;}
table {font-size: inherit;}
small {font-size: 85%;}
strong {font-weight: bold;}
td, td img {vertical-align: top;}
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}
pre, code, kbd, samp {font-family: monospace, sans-serif;}
button, input, select, textarea {margin: 0;}
button,
input[type=button] {width: auto; overflow: visible;}
.ie7 img {-ms-interpolation-mode: bicubic;}
.clearfix:after { content: " "; display: block; clear: both; }
.clear{clear:both;}
.noclear{clear:none;}
.block{display:block !important;}
/* app css */
@-webkit-keyframes fadeInFromNone {
	0% {display: none;opacity: 0;}
	1% {display: block;opacity: 0;}
	100% {display: block;opacity: 1;}
}
@-moz-keyframes fadeInFromNone {
	0% {display: none;opacity: 0;}
	1% {display: block;opacity: 0;}
	100% {display: block;opacity: 1;}
}
@-o-keyframes fadeInFromNone {
	0% {display: none;opacity: 0;}
	1% {display: block;opacity: 0;}
	100% {display: block;opacity: 1;}
}
@keyframes fadeInFromNone {
	0% {display: none;opacity: 0;}
	1% {display: block;opacity: 0;}
	100% {display: block;opacity: 1;}
}
.hide{display:none;}
.schema{
	display:none !important;
}
hr{
	display: block; height: 1px; border: 0; border-top: 1px solid rgba(175,175,175,0.5); margin: 1em 0; padding: 0;clear: both;
}
body{
	background:#fff;
	margin:0;
	padding:0;
	overflow-x:hidden;
	font-family:Georgia,Cambria,'Times New Roman',serif;
	font-size:16px;
}
b{
	font-weight:700;
}
pre{
	font-size: 14px;
	border-radius: 3px;
	background-color: #F8F8F8;
	border: 2px solid #CCC;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 5px;
}
code{
	font-size: 14px;
	white-space: pre-wrap;
	word-wrap: break-word;
}
a{
	color:#000;
	cursor:pointer;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
a.link{
	text-decoration:underline;
}
a:visited{
	color:#000;
}
a:hover{
	color:#cc1100;
}
.right{
	float:right;
}
.header{
	position:fixed;
	top:0;
	z-index:10;
	width:100%;
	height:64px;
	line-height:64px;
	background:#fff;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	font-family:'Roboto Slab',serif;
	color:rgba(0,0,0,0.6);
	overflow:hidden;
}
.header.shadow{
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.07);
}
.header a{
	color:rgba(0,0,0,0.6);
}
.header .actions{
	font-size:22px;
	text-align:center;
	width:64px;
	display: inline-block;
}
a.icon{
	padding:10px;
}
.header .actions a.menu-expand{
	color:rgba(0,0,0,0.2);
}
.header .actions a.menu-expand:hover{
	color:rgba(0,0,0,0.6);
}
.header .actions a.menu-expand.active{
	color:rgba(0,0,0,0.8);
}
.header .logo{
	font-size:24px;
	display: inline-block;
}
.header .logo .symbol{
	margin-right:8px;
}
.header .logo .symbol path{
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: SymbolGradient 15s ease infinite;
	-moz-animation: SymbolGradient 15s ease infinite;
	animation: SymbolGradient 15s ease infinite;
}
.header .header-menu-el{
	text-align:center;
	display:inline-block;
	height:64px;
	padding:0 16px;
	margin:0 16px;
	line-height:64px;
	color:rgba(0,0,0,0.6);
}
.header .header-menu-el:hover a{
	color:rgba(0,0,0,0.8);
}
.header .header-menu-el .start-shield-action{
	vertical-align: middle;
	margin-right: 4px;
	cursor:pointer;
}
.logo a{
	text-decoration:none;
	font-family:'Roboto Slab',serif;
	font-weight:700;
}
.logo:hover a{
	color:rgba(0,0,0,0.8);
}
.logo span{
	font-weight:400;
}

.menu{
	position:fixed;
	z-index:11;
	background:#fff;
	border-right:1px solid rgba(0,0,0,0.2);
	font-family:'Roboto Slab',serif;
	color:rgba(0,0,0,0.6);
	left:0;
	bottom:0;
	width:256px;
	height:calc(100% - 64px);
	display:none;
	opacity:0;
	-webkit-animation: fadeInFromNone 0.5s ease-out;
	-moz-animation: fadeInFromNone 0.5s ease-out;
	-o-animation: fadeInFromNone 0.5s ease-out;
	animation: fadeInFromNone 0.5s ease-out;
}
.menu.active{
	display:block;
	opacity:1;
}
.menu .menu-list{
	padding:16px;
	max-height:100%;
	overflow-y:auto;
}
.menu .menu-list::-webkit-scrollbar{width:12px;height:12px}
.menu .menu-list::-webkit-scrollbar-button{display:none}
.menu .menu-list::-webkit-scrollbar-track{background:#e3e3e3}
.menu .menu-list::-webkit-scrollbar-track:vertical{border-left:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3}
.menu .menu-list::-webkit-scrollbar-track:horizontal{border-top:1px solid #e3e3e3;border-right:1px solid #e3e3e3}
.menu .menu-list::-webkit-scrollbar-thumb{
	background:#a3a3a3;
}
.menu .menu-list::-webkit-scrollbar-thumb:hover{
	background:#cc1100;
}
.menu .menu-list .menu-el{
	margin-bottom:16px;
}
.menu .menu-list .menu-el.inactive{
	opacity:0.3;
}
.menu .menu-list .menu-el .fas{
	margin-right:8px;
}
.header-menu-el.energy{
	display:none;
	cursor:pointer;
}
.header-menu-el.energy i{
	min-width:25px;
}
.header-menu-el.energy.powerup{
	color:#f33;
}
.header-menu-el.energy.powerup i:before {
	content: "\f0e7" !important;
	font-size:24px;
}

.main{
	padding:64px;
	padding-top:128px;
	min-height:calc(100% - 128px - 64px);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	font-size:18px;
}
.main.menu-expand{
	padding-left:calc(256px + 64px);
}

.button{
	display:inline-block;
	padding:8px 16px;
	margin:8px;
	margin-left:0;
	background:#fff;
	color:#000;
	outline:none;
	border:none;
	border-radius:16px;
	text-decoration:none;
	cursor:pointer !important;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.07), 0 4px 5px 0 rgba(0,0,0,0.07), 0 1px 10px 0 rgba(0,0,0,0.1);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.button:active {
	outline:none;
	border:none;
}
.button:hover{
	color:#000;
	box-shadow: 0 2px 4px -1px rgba(0, 21, 97, 0.07), 0 4px 5px 0 rgba(7, 0, 121, 0.07), 0 2px 10px 1px rgba(0, 78, 255, 0.25);
}
.button.positive:hover{
	box-shadow: 0 2px 4px -1px rgba(0, 97, 21, 0.07), 0 4px 5px 0 rgba(7, 121, 0, 0.07), 0 2px 10px 1px rgba(0, 255, 78, 0.35);
}
.button.negative:hover{
	box-shadow: 0 2px 4px -1px rgba(97, 21, 0, 0.07), 0 4px 5px 0 rgba(121, 7, 0, 0.07), 0 2px 10px 1px rgba(255, 39, 0, 0.35);
}
.button.disabled{
	opacity:0.5;
}
.opacity{
	opacity:0.5;
}
label input[type=checkbox]{
	vertical-align: middle;
}

.page{
	margin:0 auto;
	max-width:732px;
	padding:0;
	position:relative;
}
.page .info{
	padding:0;
	font-weight: 400;
	line-height: 1.5;
	display:block;
	word-wrap: break-word;
	margin:12px 21px;
	font-family:Arial,sans-serif;
	font-style: normal;
	font-size:15px;
	color: rgba(0,0,0,0.6);
}
.page.preview .info{
	margin:0 21px;
	line-height:32px;
}
.page .info .author a{
	text-decoration:none;
}
.page .info .author a.avatar{
	width: 32px;
	height: 32px;
	border-radius: 16px;
	border: 0px solid #fff;
	overflow: hidden;
	display:inline-block;
	vertical-align:middle;
	margin-right:4px;
	box-sizing: unset;
	background-image:url('/default-avatar.png');
	background-color: #fff;
	background-position: 50% 50%;
	background-size: cover;
}
.page .info .timestamp::after{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: '\f017';
	font-size:14px;
	padding-left:4px;
	opacity:0.4;
}
.page.content .info div, .page.preview .info div{
	display:inline-block;
}
.page.content .info>div::before, .page.preview .info>div::before{
	content:'\2022';
	padding:0 7px;
}
.page.content .info>div:first-child::before, .page.preview .info>div:first-child::before{
	content:'';
	padding:0;
}
.page.content .info .right>div::before, .page.preview .info .right>div::before{
	content:'\2022';
	padding:0 7px;
}
.page.content .info .right::before, .page.preview .info .right::before{
	content:'';
	padding:0;
}
.page h1{
	margin:21px;
	margin-bottom:12px;
	font-family:'Lucida Grande','Arimo',Arial,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 32px;
	line-height: 34px;
}
.page h2{
	margin:21px;
	margin-bottom:12px;
	font-family:'Lucida Grande','Arimo',Arial,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 28px;
	line-height: 32px;
}
.page h3{
	margin:21px;
	margin-bottom:10px;
	font-family:'Lucida Grande','Arimo',Arial,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 26px;
	line-height: 30px;
}
.page h4{
	margin:21px;
	margin-bottom:8px;
	font-family:'Lucida Grande','Arimo',Arial,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 22px;
	line-height: 28px;
}
.page h5{
	margin:21px;
	margin-bottom:6px;
	font-family:'Lucida Grande','Arimo',Arial,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	line-height: 26px;
}
.page p{
	word-wrap: break-word;
}
.page .article p{
	margin: 0 21px 12px;
	line-height: 1.4;
}
.page .article ul{
	list-style:disc;
}
.page .article ul ul{
	margin-left:12px;
	list-style:circle;
}
.page .article>ol,.page .article>ul{
	margin: 0 21px 12px;
	line-height: 1.4;
}
.page blockquote{
	border-left:2px solid rgba(0,0,0,0.4);
	margin-left:21px;
	margin-bottom:12px;
	padding-top:12px;
	padding-bottom:12px;
}
.page blockquote p{
	line-height:1.5;
	font-style:italic;
	font-size:16px;
	color:rgba(0,0,0,0.8);
}
.page blockquote footer{
	font-style:normal;
}
.page blockquote cite{
	font-family:'Lucida Grande','Arimo',Arial,sans-serif;
	font-size:14px;
	font-style:normal;
	display:block;
	margin: 0 21px;
}
.page.content .article{
	padding-bottom:12px;
}
.page img{
	display:inline-block;
	vertical-align: middle;
	max-width:100%;
	margin-bottom:8px;
}

.page .tags{
	font-family:'Lucida Grande','Arimo',Arial,sans-serif;
	text-align: left;
	font-size:14px;
	margin: 0 21px 12px;
}
.page.preview .tags{
	margin: 0 21px;
	margin-bottom:12px;
}
.page .blocks{
	font-family:'Lucida Grande','Arimo',Arial,sans-serif;
	text-align: left;
	font-size:14px;
	margin: 0 21px 12px;
}
.page .blocks a{
	color:#000;
	display:inline-block;
	padding:4px 8px 6px 8px;
	background:rgba(0,0,0,0.1);
	border-radius:4px;
	text-decoration:none;
	width:calc(20% - 2px);
	margin-top:2px;
	margin-right:2px;
}
.page .blocks a.current{
	font-weight:bold;
}
.page .blocks a:hover{
	background:rgba(0,0,0,0.15);
}
.page .tags a{
	color:#000;
	display:inline-block;
	padding:4px 8px 6px 8px;
	background:rgba(0,0,0,0.1);
	border-radius:4px;
	text-decoration:none;
	margin-right:12px;
	margin-top:4px;
}
.page.preview .tags a{
	padding:2px 6px 4px 6px;
	margin-right:4px;
}
.page .tags a:hover{
	background:rgba(0,0,0,0.15);
}

.page.content .addon{
	font-family:'Lucida Grande','Arimo',Arial,sans-serif;
	line-height:64px;
}
.page.content .addon .comments{
	font-size:14px;
	color:rgba(0,0,0,0.6);
}
.page.content .addon .comments .icon{
	font-size:20px;
	position:relative;
	top:3px;
}
.page.content .addon .votes_count{
	display: inline-block;
	line-height: 64px;
	font-size: 14px;
	vertical-align: top;
	margin-left: 12px;
	color: rgba(36, 36, 165, 0.8);
}
.page.content .addon .reward_amount{
	display: inline-block;
	line-height: 64px;
	font-size: 14px;
	vertical-align: top;
	margin-left: 14px;
	color: rgba(36, 36, 165, 0.6);
}
.page.content .addon .award, .page.content .addon .flag{
	cursor:pointer;
	color:#000;
	display:inline-block;
	width:64px;
	height:64px;
	background:#fff;
	border-radius:32px;
	border:1px solid #ddd;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.07), 0 4px 5px 0 rgba(0,0,0,0.07), 0 1px 10px 0 rgba(0,0,0,0.1);
	overflow:hidden;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.page.content .addon .award::before{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: '\f106';
	font-size:42px;
	line-height:60px;
	margin-left:calc(50% - 13.125px);
}
.page.content .addon .flag{
	margin-left:15px;
	opacity:0.3;
}
.page.content .addon .flag::before{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: '\f107';
	font-size:42px;
	line-height:68px;
	margin-left:calc(50% - 13.125px);
}
.page.content .addon .award:hover{
	box-shadow: 0 2px 4px -1px rgba(0, 21, 97, 0.07), 0 4px 5px 0 rgba(7, 0, 121, 0.07), 0 3px 12px 3px rgba(0, 78, 255, 0.25);
}
.page.content .addon .award:hover::before{
	color:rgb(0, 27, 88)
}
.page.content .addon .flag:hover{
	border:1px solid #c52e2e;
	opacity:1;
	box-shadow: 0 2px 4px -1px rgba(97, 0, 0, 0.07), 0 4px 5px 0 rgba(121, 0, 0, 0.07), 0 3px 12px 3px rgba(187, 0, 0, 0.56);
}
.page.content .addon .flag:hover::before{
	color:rgba(187, 0, 0, 0.9);
}

.page.preview{
	display:block;
	background:#fff;
	border-bottom:1px solid #eee;
	min-height:64px;
	padding-bottom:12px;
	margin-bottom:12px;
}
.page.preview .subtitle{
	display:inline-block;
	margin:0 21px;
	margin-bottom:12px;
	font-family:'Lucida Grande','Arimo',Arial,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 24px;
	line-height: 28px;

	width:calc(100% - 32px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.page.preview .subtitle.repost::before{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: '\f079';
	font-size:21px;
	line-height: 30px;
	text-decoration: none;
	float: left;
	margin-right: 5px;
}
.page.preview .cover{
	float:left;
	margin-left:21px;
	margin-bottom:8px;
	width:200px;
	max-height:150px;
	overflow:hidden;
	text-align:center;
}
.page.preview .cover-exist{
	margin-left:221px;
}
.page.preview .cover img{
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
}
.page.preview .addon{
	font-family:'Lucida Grande','Arimo',Arial,sans-serif;
	line-height:32px;
}
.page.preview .addon .comments{
	font-size:14px;
	color:rgba(0,0,0,0.6);
}
.page.preview .addon .comments .icon{
	font-size:18px;
	position:relative;
	top:3px;
}
.page.preview .addon .votes_count{
	display: inline-block;
	line-height: 32px;
	font-size: 14px;
	vertical-align: top;
	margin-left: 12px;
	color: rgba(36, 36, 165, 0.8);
}
.page.preview .award, .page.preview .flag{
	cursor:pointer;
	color:#000;
	display:inline-block;
	vertical-align: top;
	width:32px;
	height:32px;
	background:#fff;
	border-radius:16px;
	border:1px solid #ddd;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.07), 0 4px 5px 0 rgba(0,0,0,0.07), 0 1px 10px 0 rgba(0,0,0,0.1);
	overflow:hidden;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.page.preview .award::before{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: '\f106';
	font-size:26px;
	line-height:30px;
	margin-left:calc(50% - 8.125px);
}
.page.preview .flag::before{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: '\f107';
	font-size:26px;
	line-height:34px;
	margin-left:calc(50% - 8.125px);
}
.page.preview .award:hover{
	box-shadow: 0 2px 4px -1px rgba(0, 21, 97, 0.07), 0 4px 5px 0 rgba(7, 0, 121, 0.07), 0 2px 10px 1px rgba(0, 78, 255, 0.25);
}
.page.preview .award:hover::before{
	color:rgb(0, 27, 88)
}
.page.preview .flag:hover{
	box-shadow: 0 2px 4px -1px rgba(97, 0, 0, 0.07), 0 4px 5px 0 rgba(121, 0, 0, 0.07), 0 2px 10px 1px rgba(187, 0, 0, 0.25);
}
.page.preview .flag:hover::before{
	color:rgba(187, 0, 0, 0.9);
}

.page.user-badge{
	font-family:'Lucida Grande','Arimo',Arial,sans-serif;
	display:block;
	background:#fff;
	border:1px solid #eee;
	border-radius:4px;
	min-height:64px;
	padding:12px;
	font-size:14px;
}
.page.user-badge a.avatar{
	width: 64px;
	height: 64px;
	border-radius: 32px;
	border: 0px solid #fff;
	overflow: hidden;
	float:left;
	box-sizing: unset;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
	background-image:url('/default-avatar.png');
	background-color: #fff;
	background-position: 50% 50%;
	background-size: cover;
}
.page.user-badge a.avatar:hover{
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
}
.page.user-badge .info{
	margin:0;
	margin-left:76px;
}
.page.user-badge .info .login a{
	text-decoration:none;
}
.page.user-badge .info .login{
	font-size:14px;
	line-height:1.6;
}
.page.user-badge .info .descr{
	line-height:22px;
	color:rgba(0,0,0,0.6);
}
.page.user-badge .actions{
	float:right;
	margin-left:12px;
	text-align:right;
}
.page.user-badge .actions .follow{
	cursor:pointer;
	display:inline-block;
	color:#11f;
	padding:4px 8px 6px;
	border:1px solid #11f;
	border-radius:4px;
	background:#fff;
	margin-bottom:4px;
	margin-left:4px;
}
.page.user-badge .actions .unfollow{
	cursor:pointer;
	display:inline-block;
	color:#111;
	padding:4px 8px 6px;
	border:1px solid #111;
	border-radius:4px;
	background:#fff;
	margin-bottom:4px;
	margin-left:4px;
}
.page.user-badge .actions .ignore{
	cursor:pointer;
	display:inline-block;
	color:#f11;
	padding:4px 8px 6px;
	border:1px solid #f11;
	border-radius:4px;
	background:#fff;
	margin-bottom:4px;
	margin-left:4px;
}

.page.comments{
	margin-top:32px;
	font-size:18px;
}
.page.comments .subtitle{
	margin:21px;
	margin-bottom:8px;
	font-family:'Lucida Grande','Arimo',Arial,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 26px;
	line-height: 28px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.page.comments .actions{
	float:right;
	font-size:14px;
	margin-left:12px;
	text-align:right;
	font-family:'Lucida Grande','Arimo',Arial,sans-serif;
}
.page.comments .actions .reply{
	cursor:pointer;
	display:inline-block;
	color:#22f;
	padding:4px 8px 6px;
	border:1px solid #22f;
	border-radius:4px;
	background:#fff;
	margin-bottom:4px;
	margin-left:4px;
}
.page.comments .comment .addon .award.active{
	color:#396ac5 !important;
	background:none !important;
}
.page.comments .comment{
	margin-left: 0;
	margin-bottom: 12px;
	padding-left: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid rgba(150,150,150,0.3);
	border-left: 1px solid rgba(150,150,150,0.3);
	border-radius: 8px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.page.comments .comment[data-level='0'] {
	border-left: none;
}
.page.comments .comment[data-level='1'] {
	margin-left: 12px;
	padding-left: 12px;
}
.page.comments .comment[data-level='2'] {
	margin-left: 24px;
	padding-left: 12px;
}
.page.comments .comment[data-level='3'] {
	margin-left: 36px;
	padding-left: 12px;
}
.page.comments .comment[data-level='4'] {
	margin-left: 48px;
	padding-left: 12px;
}
.page.comments .comment[data-level='5'] {
	margin-left: 60px;
	padding-left: 12px;
}
.page.comments .comment:hover{
	border-color:rgba(150,150,200,0.6);
}
.page.comments .comment.new{
	border-color:rgb(255, 122, 46);
}
.page.comments .comment .info{
	font-family:Arial,sans-serif;
	font-style: normal;
	font-size:15px;
	color: rgba(0,0,0,0.6);
	margin: 12px;
	margin-bottom:8px;
}
.page.comments .comment .info div{
	display:inline-block;
}
.page.comments .comment .info .author a{
	text-decoration:none;
}
.page.comments .comment .info .author a.avatar{
	width: 32px;
	height: 32px;
	border-radius: 16px;
	border: 0px solid #fff;
	overflow: hidden;
	display:inline-block;
	vertical-align:middle;
	margin-right:4px;
	box-sizing: unset;
	background-image:url('/default-avatar.png');
	background-color: #fff;
	background-position: 50% 50%;
	background-size: cover;
}
.page.comments .comment .info .anchor{
	float:right;
	margin-left:12px;
}
.page.comments .comment .info .anchor a{
	opacity:0.4;
	text-decoration:none;
}
.page.comments .comment .info .anchor a:hover{
	opacity:1.0;
}
.page.comments .comment .info .timestamp{
	float:right;
}
.page.comments .comment .info .timestamp::after{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: '\f017';
	font-size:14px;
	padding-left:4px;
	opacity:0.4;
}
.page.comments .comment .text{

}
.page.comments .comment .text p{
	margin: 0 12px 12px;
}
.page.comments .comment .text blockquote{
	margin-left:12px;
}
.page.comments .comment .text blockquote cite{
	margin-left:12px;
}

.page.comments .comment .addon{
	font-family:'Lucida Grande','Arimo',Arial,sans-serif;
	font-size:14px;
	line-height:32px;
	text-align:right;
	opacity:0.5;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.page.comments .comment:hover .addon{
	opacity:1.0;
}
.page.comments .comment .addon a{
	margin:0 8px;
	padding:0 8px;
}

.reply-form{
	padding:8px 0;
}
.reply-form textarea{
	display:block;
	width:100%;
	max-width:100%;
	min-height:100px;
	border:1px solid rgba(175,175,175,0.5);
	padding:16px;
	outline:none;
}
.reply-form input{
	display:block;
	width:100%;
	padding:8px;
	margin-top:8px;
	text-align: center;
}

.load-more{
	text-align:center;
	padding:12px;
}

.pages{
	font-family:'Lucida Grande','Arimo',Arial,sans-serif;
	text-align: left;
	font-size:14px;
	margin: 0 21px 12px;
}
.pages a{
	color:#000;
	display:inline-block;
	padding:4px 8px 6px 8px;
	background:rgba(0,0,0,0.1);
	border-radius:4px;
	text-decoration:none;
	margin-right:12px;
	margin-top:4px;
}
.pages a:hover{
	background:rgba(0,0,0,0.15);
}

.unselectable{
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.view_block{
	display:inline-block;
	max-height:80vh;
	width:100%;
	overflow:auto;
	font-size:12px;
}

.notify-list{
	position:fixed;
	right:8px;
	bottom:8px;
	z-index:5000;
}
.notify-list .notify{
	background:rgba(255,255,255,0.8);
	padding:12px 16px;
	border-radius:8px;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	margin-top:12px;
	color:#000;
	opacity:1.0;
	-webkit-transition: all 0.8s linear;
	-moz-transition: all 0.8s linear;
	-o-transition: all 0.8s linear;
	transition: all 0.8s linear;
}
.notify-list .notify a{
	color:#000 !important;
}
.notify-list .notify.notify-dark{
	background:rgba(0,0,0,0.8);
	color:#fff;
}
.notify-list .notify.notify-dark a{
	color:#fff !important;
}

.committee-control input[name=vote_percent]{
	display:inline-block;
	margin:0 12px;
}
select.round{
	border-radius: 4px;
	border: 1px solid #aaa;
	padding: 4px 8px;
}
textarea.round{
	border-radius: 4px;
	border: 1px solid #aaa;
	padding: 4px 8px;
}
input.round{
	border-radius: 4px;
	border: 1px solid #aaa;
	padding: 4px 8px;
}
textarea.wide{
	width: 100%;
	font-size: 14px;
}
input.wide{
	width: 100%;
	font-size: 14px;
}
.input-descr{
	font-size: 14px;
}
.witness_schedule{
	text-align:center;
	font-family:Arial,sans-serif;
}
.witness_support_queue{
	text-align:center;
	font-family:Arial,sans-serif;
}

.page table{
	border:1px solid #ddd;
	border-right:0;
	border-top:0;
	padding:0px;
	margin:0 auto 10px;
	width:100%;
	font-size:14px;
	font-family:Arial,sans-serif;
}
.page table th{
	background-color:#eee;
	border:0;
	margin:0;
	border-top:1px solid #ddd;
	border-right:1px solid #ddd;
	padding:5px;
	text-align:center;
	vertical-align:middle;
}
.page table td{
	border-top:1px solid #ddd;
	border-right:1px solid #ddd;
	vertical-align: top;
	padding:5px;
	margin:0;
}
.wallet-history tr.filtered{
	display:none !important;
}
.wallet-history p{
	margin:0 !important;
}
.wallet-history tr.new{
	background:#fffaee;
}
.action-button{
	display: inline-block;
	padding: 6px 8px;
	margin-right: 16px;
	margin-bottom:8px;
	background: #666;
	color: #fff;
	border-radius: 16px;
	text-decoration:none;
	cursor: pointer;
	font-size: 14px;
	font-family:Arial,sans-serif;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.action-button.waiting{
	background:#999 !important;
}
.action-button.right{
	margin-right:0;
	margin-left:16px;
	margin-bottom:4px;
}
.action-button:hover{
	background:#000;
	color:#fff;
}

input.bubble{
	padding: 6px 16px;
	outline: 0;
	border-radius: 16px;
	border: 1px solid #d8d8d8;
	font-size: 14px;
	font-family:Arial,sans-serif;
}
input.bubble.right{
	margin-left:8px;
}
input.small-size{
	width:100px;
}
select.bubble{
	padding: 6px 16px;
	outline: 0;
	border-radius: 16px;
	border: 1px solid #d8d8d8;
}
select.bubble.right{
	margin-left:8px;
}
select.small-size{
	width:100px;
}

.award.active{
	color:#fff !important;
	background:#396ac5 !important;
}
.award.active:hover::before{
	color:#fff !important;
}
.flag.active{
	color:#fff !important;
	background:#f93434 !important;
}
.flag.active:hover::before{
	color:#fff !important;
}

.repost-info{
	display: inline-block;
	margin: 0 21px;
	margin-bottom: 12px;
	font-family: Arial,sans-serif !important;
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	width:100%;
}
.repost-date{
	margin-right:25px;
	opacity:0.5;
	float:right;
}

.spoiler{
	background:#000 !important;
	color:#000 !important;
}
.spoiler img{
	opacity:0;
}
.spoiler:hover{
	background:none !important;
	color:initial !important;
}
.spoiler:hover img{
	opacity:1;
}
#upload-file{
	display:none;
}
.drop-file{
	font-size:30px;
}
html.modal-open{
	overflow:hidden;
}
.modal-overlay {
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background:rgba(255, 255, 255, 0.5);
	z-index:5000;
	display:none;
	zoom:1;
}
.modal{
	padding: 2rem;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 6000;
	display:none;
}
.modal-overlay.active, .modal.active{
	display:block;
}

.menu a.avatar{
	display:inline-block;
	margin: 0 auto;
	position: relative;
	display: block;

	width: 120px;
	height: 120px;
	border-radius: 60px;
	border: 0px solid #fff;
	overflow: hidden;
	box-sizing: unset;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
	background-image:url('/default-avatar.png');
	background-color: #fff;
	background-position: 50% 50%;
	background-size: cover;
}

.go-top-left-wrapper{
	width: calc((100% - 732px - 100px)/2);
	z-index: 5;
	left: 0;
	position: fixed;
	top: 48px;
	bottom: 0;
	cursor:pointer;
}
.go-top-button{
	display:none;
	width: calc((100% - 732px - 100px)/4);
	z-index: 5;
	left: 0;
	position: fixed;
	top: 48px;
	bottom: 0;
	text-align: center;
	font-size: 40px;
	color: rgba(77, 110, 152, 0.5);
}
.go-top-button i{
	position:fixed;
	top: calc(50% - 20px);
	margin-left:-25px;
}
.go-top-left-wrapper:hover .go-top-button{
	background:rgba(77, 110, 152, 0.08);
}
.main.menu-expand .go-top-left-wrapper{
	left:256px;
	width: calc((100% - 732px - 100px - 256px)/2);
}
.main.menu-expand .go-top-button{
	width: calc((100% - 732px - 100px - 256px)/4);
	left:256px;
}
.content-actions{
	opacity:0.6;
	text-align:right;
	font-family:Arial,sans-serif !important;
	font-size:12px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.content-actions:hover{
	opacity:1.0;
}
.content-actions a{
	margin:0 4px;
}
.account-login a{
	color:rgba(0,0,0,0.6);
}
.account-login::before {
    content: '\2022';
    padding: 0 7px;
}

@-webkit-keyframes SymbolGradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes SymbolGradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes SymbolGradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* tablet */
@media only screen and (min-width:0) and (max-width:968px){
	.main{
		padding:32px;
		padding-top:96px;
	}
	.header .header-menu-el{
		padding:0 8px;
		margin:0 8px;
	}
	.main.menu-expand{
		padding-left:32px;
	}
	.menu{
		-webkit-animation:none;
		-moz-animation:none;
		-o-animation:none;
		animation:none;
	}
	.go-top-left-wrapper {
		width: 120px;
		z-index: 5;
		left: 0;
		position: fixed;
		top: auto;
		bottom: 0;
		height: 8vh;
	}
	.go-top-button{
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		top: 0;
		background:rgba(77, 110, 152, 0.20);
	}
	.go-top-left-wrapper:hover .go-top-button{
		background:rgba(77, 110, 152, 0.15);
	}
	.go-top-button i{
		position: relative;
		bottom: 4vh;
		margin-left: 0;
		margin-bottom: 0;
		margin-top: 0;
	}
	.main.menu-expand .go-top-left-wrapper{
		left:256px;
		width:120px;
	}
	.main.menu-expand .go-top-button{
		left:0;
		width:100%;
	}
}

/* mobile */
@media only screen and (min-width:0) and (max-width:600px){
	a.icon {
		padding:4px;
	}
	.main{
		padding:16px;
		padding-top:80px;
	}
	.main.menu-expand{
		padding-left:16px;
	}
	.page h1{
		font-size:22px;
	}
	.page h2{
		font-size:20px;
	}
	.page h3{
		font-size:18px;
	}
	.page h4{
		font-size:16px;
	}
	.page h5{
		font-size:14px;
	}
	.header-menu-el.energy.powerup i:before{
		font-size:20px;
	}
	.page.content .addon{
		line-height:48px;
	}
	.page.content .addon .award, .page.content .addon .flag{
		height:48px;
		width:48px;
		border-radius:24px;
	}
	.page.content .addon .award::before{
		line-height:44px;
	}
	.page.content .addon .flag{
		margin-left:6px;
	}
	.page.content .addon .flag::before{
		line-height:50px;
	}
	.page.content .addon .votes_count{
		line-height:48px;
		margin-left:6px;
		font-size:12px;
	}
	.page.content .addon .reward_amount{
		line-height:48px;
		margin-left:6px;
		font-size:12px;
	}
	.page.content .addon .comments{
		font-size:12px;
	}
	.page.preview .subtitle{
		font-size:20px;
		line-height:24px;
		width:auto;
		white-space:normal;
		overflow:auto;
		text-overflow:inherit;
	}
	.page.comments .subtitle{
		font-size:20px;
		line-height:24px;
	}
	.page.content .addon .comments .icon{
		font-size:16px;
		top:0;
	}
	.header{
		width:100%;
		height:48px;
		line-height:48px;
	}
	.header .actions{
		font-size:22px;
		text-align:center;
		width:48px;
		display: inline-block;
	}
	.header .logo{
		font-size:22px;
		display: inline-block;
	}
	.header .logo .symbol{
		margin-right:6px;
	}
	.header .header-menu-el{
		height:48px;
		line-height:48px;
		padding:0;
		padding-right:8px;
		margin:0;
		font-size:14px;
	}
	.header .header-menu-el.social-links{
		display:none;
	}
	.menu{
		height:calc(100% - 48px);
		width:100%;
		font-size:20px;
	}
	.main.menu-expand .go-top-left-wrapper{
		left:0;
	}
	.page.preview .cover{
		float:none;
		max-width:100%;
		width:auto;
		max-height:200px;
	}
	.page.preview .cover-exist{
		margin-left:0;
	}
	.page.preview .info .right{
		float:none;
		display:block;
		margin-top:2px;
	}
	.page.preview .info .right .comments{
		float:right;
	}
	.page.preview .info .right .comments::before{
		content:"";
		padding:0;
	}
	.page.preview .info .timestamp{
		float:right;
	}
	.page.preview .info .timestamp::before{
		content:"";
		padding:0;
	}

}
/* old mobile */
@media only screen and (min-width:0) and (max-width:550px){
	.main{
		padding:8px;
		padding-top:64px;
	}
	.main.menu-expand{
		padding-left:8px;
	}
	.header .logo .symbol{
		margin-right:4px;
	}
}
/* so old mobile */
@media only screen and (min-width:0) and (max-width:375px){
	.main{
		padding:0;
		padding-top:64px;
	}
	.main.menu-expand{
		padding-left:0;
	}
	.page.comments .actions{
		margin-left:0;
	}
	.header .logo span{
		display:none;
	}
}